body {
  margin: 0;
  overflow: hidden;
  background: #222;
}
canvas {
  display: block;
  background-color: #444;
  width: 100vw;
  height: 70vh;
}
#controls {
  text-align: center;
  margin-top: 10px;
}
.btn {
  width: 60px;
  height: 60px;
  font-size: 30px;
  margin: 5px;
  background-color: #666;
  color: white;
  border: none;
  border-radius: 10px;
}
